<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <script src="/javascripts/dropdown.js" async></script>
    <style>
        div {
        display: none;   
        }  
    </style>
      
  </head>
  <body>

    <select name="options" id="options">
        <option value="1"> Loan Protection Insurance</option>
        <option value="2"> GAP or Cash Assist Insurance</option>
        <option value="3"> Home Insurance</option>
        <option value="4"> Landlords Insurance</option>
        <option value="5">  Car Insurance</option>
      </select>
      
      <div id="1" style="display: block">Test 1</div>
      <div id="2">Test 2</div>
      <div id="3">Test 3</div>
      <div id="4">Test 4</div>
      <div id="5">Test 5</div>


    <!-- <div class="login-form">
        <h1><%= title %></h1>
                <form action="auth" method="POST">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="text" name="email" placeholder="Email" required>
                    <input type="text" name="fname" placeholder="First Name" required>
                    <input type="text" name="lname" placeholder="Last Name" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="password" name="confirm_password" placeholder="Password" required>

                    <select class="selectpicker" data-style="btn-info" name="selectpicker">
                        <optgroup label="Select Table">
                            <option value="">Select Status</option>
                            <option value="student">Student</option>
                            <option value="employee">Employee</option>
                        </optgroup>
                    </select>
                    
                    
                    
                    <input type="submit">
                </form> -->

                




        </div>
   </body>
</html>
