<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <title><%= title %> Home</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <!-- <script src="/javascripts/home_screen.js" async></script> -->
    </head>
</head>
<div class="login-form">
    <body>
        <h1><%= title %> Home</h1>
            <!-- student home -->

            <% for (var i = 0; i < table.length; i++) { %>
                <form action="<%= table[i][0] %>" method="GET">
                    <input type="submit" value="<%= table[i][1] %>">
                </form>
            <% } %>
    </body>
</div>
</html>