<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student View Test Results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<div class="login-form">
<body>
    <h1>Student View Test Results</h1>

    <form action="view_aggregate_results" method="GET">
        <input type="submit" value="Filter">
    </form>

    <form action="sign_up_for_a_test" method="GET">
        <input type="submit" value="Reset">
    </form>

    <form action="home_screen" method="GET">
        <input type="submit" value="View My Results">
    </form>
    

</body>
</div>
</html>