<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/register.css' />
</head>
<body>
    <div class="register-form">
        <h1><%= title %></h1>
        <span id=successed><%=message%></span>
        <br>
        <br>
        <br>
        <form action="home_screen" method="GET">
            <input type="submit" value="Back (Home)">
        </form>
    </div>
</body>
</html>